<h1>Technicity</h1>
<h2>About the App</h2>
<p> License and attribution, etc. </p>

<h2>About the Team</h2>
<p>Jennifer Cowley</p>
<p>Jason Little</p>
<p>Meghan Frazer</p>
<p>Kermit the Frog</p>

<h2>Contact Us</h2>
<p>Email address for app?</p>
<p>COE address?</p>