<h3>Privacy Policy</h3>

<p>StreetSeen can utilize your Facebook, Twitter or Coursera credentials to create an account.  This information 
is not used for any other purpose then to authenticate you to the StreetSeen system.  StreetSeen usernames 
will be displayed throughout the site associated with user-generated content.</p> 

<p>College of Engineering websites collect non-personal information to improve functionality and content, 
and to monitor the site's performance. Data is used to provide answers to specific questions about the 
usage and performance of the web site or individual web pages. We leverage Google Analytics for this purpose 
and may adopt additional tools in the future.</p>

<p>The college works in a distributed environment; therefore, policies and procedures around data collected 
on particular websites (for example, through site specific online forms) may vary. If there are questions, 
visitors should contact the specific department, unit or organization that maintains the site.</p>

<h3>User Policy</h3>
<p>Users creating content on StreetSeen agree to the following:
<ul><li>Content created via the StreetSeen application (including study questions, image sets and survey results) 
is available for reuse by the public under the <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons 
Attribution-NonCommercial 3.0 Unported</a> license.</li>
<li>StreetSeen will abide by the Privacy Policy listed above in the creation and deletion of accounts</li>
<li>Studies which are "launched" will be available for public viewing and voting.</li>
<li>Users will not harrass or intimidate other users via activities on StreetSeen. </li></ul>

<p>Any user who violates any of the policies on this page may have their account deleted.</p>
