<h1>Search Users</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :placeholder => 'Search for a user', :autocomplete => 'off'%>
  <button type="submit" class="btn btn-primary" >
    <i class="icon-search icon-white"></i> Search
  </button>
<% end %>
<div id="search-results">
  <%= render 'users/list', :users => @users  %>
</div>
<br />
<!--
<% if user_signed_in? %>
  <button type="button" class="btn btn-primary" onclick="location.href = '<%= new_user_path %>'">
    <i class="icon-plus-sign icon-white"></i> Create a New User
  </button>
<% end %>
-->
