<p>
<div style="float:right;width:500px;margin-bottom:40px;">
  <div id="map" class="map" style="float:right; width:500; height:350;"></div>
</div>
<%= @max_intensity %><br>
<%= @heatmaps.to_yaml %>
</p>