<h1>My Research</h1>

<%= render 'studies/list', :studies => @studies, :show_user => true  %>

<br />

<button type="button" class="btn btn-primary" onclick="location.href = '<%= new_study_path %>'">
  <i class="icon-plus-sign icon-white"></i> Create a New Study
</button>
