<h1>My Studies</h1>
<% if @studies.empty? %>
  <p class="empty-text">You have not created any studies.</p>
<% else %>
  <%= render 'studies/list', :studies => @studies, :show_user => true  %>
<% end %>
<br />

<button type="button" class="btn btn-primary" onclick="location.href = '<%= new_study_path %>'">
  <i class="icon-plus-sign icon-white"></i> Create a New Study
</button>
