
<%= render 'shared/header', :study => @study %>
<!-- <p>Todo: voting interface</p> -->

<% if @study.active.nil? %>
  <p>
    This study has not yet been launched. The owner must "Launch" it before voting can begin.</p>

<% elsif !@study.active %>
  <p>
    This study is currently closed. The owner must "Open" it before voting can resume.</p>

<% else %>
<%= render 'studies/vote', :study => @study %>
<% end %>
