<h1>Survey Questions</h1>
<br/>
<p><%= link_to 'Add survey question', new_survey_question_path, class: 'btn' %></p>

<table class="table">
  <tbody>

    <% @survey_questions.each do |survey_question| %>
      <tr>
        <td><%=	survey_question.question %></td>
        <td>
          <%= link_to 'Edit', edit_survey_question_path(survey_id: @survey_id, id: survey_question.id) %> |
          <%= link_to 'Delete', survey_question_path(survey_id: @survey_id, id: survey_question.id),
                      method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

