// Place all the styles related to the Analyze view here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.analyze-options .navbar-inner {
  padding: 0;
}
.navbar.analyze-options .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar.analyze-options .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar.analyze-options .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar.analyze-options .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar.analyze-options .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
