/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Override some defaults */
html, body {
  background: #eee url(little_pluses.png) repeat 0 0 !important;
}

.hero-unit {
  background: #eee url(old_mathematics.png) repeat 0 0 !important;
}

.navbar .container {
  width: 980px !important;
}

.navbar-inner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.loud {
  font-weight: bold;
  text-align: right;
}

.inline-label {
  display: inline-block;
}

.container > footer p {
  text-align: center;
}

footer {
  margin-top: 8px;
}

header.navbar nav {
  background: #333333;
}

header.navbar nav a {
  color: #999999;
}
header.navbar nav a:hover {
  color: #ffffff;
}
