<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <% if show_user  %>
      <th>User</th>
    <% end %>
    <th># Locations</th>
    <th>Public</th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= link_to region.name, region %></td>
    <% if show_user  %>
      <td><%= region.user_id %></td>
    <% end %>
    <td><%= region.locations.count %></td>
    <td><%= region.public %></td>
  </tr>
<% end %>
</table>
