<% if @study.nil? %>
  <h1>New Area</h1>
<% else %>
  <h1>Add Area to Study: <%= @study.name %></h1>
<% end %>

<%= render 'form' %>

<% if @study.nil? -%>
  <%= link_to 'Back', regions_path %>
<% else -%>
  <%= link_to 'Back', edit_study_path(@study) %> 
<% end -%>
