<h1>My Stuff</h1>

<h2>Studies</h2>
<%= render 'studies/list', :studies => @studies, :show_user => false %>

<h2>Image Sets</h2>
<%= render 'region_sets/list', :region_sets => @region_set, :show_user => false %>

<h2>Areas</h2>
<%= render 'regions/list', :studies => @studies, :show_user => false %>
