<%# #link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <!-- MF - static pages -->
  <li>
    <a href="/static_pages/home">Home</a>
  </li>
  <li>
    <a href="/static_pages/about">About</a>
  </li>
  <li>
    <a href="/static_pages/help">Help</a>
  </li>
  <li>
    <!-- MF - will need to adjust when course starts -->
    <a href="https://www.coursera.org/course/techcity">Technicity Course</a>
  </li>
  
  <%# if user_signed_in? %>
    
    <%# link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    
  <%# else %>
    
    
    <%# link_to('Login', new_user_session_path)  %>

  <%# end %>
  <%# if user_signed_in? %>
    
    <%# link_to('Edit account', edit_user_registration_path) %>
   
  <%# else %>
    
    <%#= link_to('Sign up', new_user_registration_path)  %>

  <%# end %>
</ul>
