<%# #link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li class="dropdown">
    <a href="/my/research" class="dropdown-toggle" data-toggle="dropdown">My Research <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/my/dashboard">Dashboard</a></li>
      <li><a href="/my/studies">Studies</a></li>
      <li><a href="/my/collections">Region Collections</a></li>
      <li><a href="/my/regions">Regions</a></li>
      <li class="divider"></li>
      <li class="nav-header">Nav header</li>
      <li><a href="#">Separated link</a></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </li>
</ul>
